
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~nprogress/nprogress.css';

.input-group-append-inline {
  margin-left: 0!important;
  position: relative;
  z-index: 10;
}

#button-clear {
  right: 100%;
}
